@charset "ISO-8859-1";

.login-box {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-wrapper {
float: right;
}

table {
font-family: system-ui;
font-size: 18px
}